/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #000;
  text-decoration: none; }

.headroom {
  font-family: Helvetica, Arial;
  color: #757575;
  font-size: 16px;
  background: white;
  width: 100%;
  height: 56px;
  position: relative;
  border-top: 5px solid #0ba7c8;
  box-shadow: 0px 2px 2px #CCC; }
  .headroom--pinned {
    position: fixed; }
  .headroom .header {
    height: 100%;
    width: 100%;
    padding: 10px 0 0 0;
    box-sizing: border-box; }
    .headroom .header .mobile-menu {
      display: flex;
      margin: -10px 0 0 0;
      width: 100%;
      height: 56px; }
      .headroom .header .mobile-menu .open-nav {
        position: relative;
        width: 62px;
        height: 56px;
        padding: 10px 20px 10px;
        box-sizing: border-box; }
        .headroom .header .mobile-menu .open-nav-img {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 22px;
          height: 15px; }
      .headroom .header .mobile-menu .logo {
        margin: auto;
        height: 56px; }
    .headroom .header .desktop-menu {
      overflow-y: auto;
      background-color: white;
      transition: 0.2s ease-out;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: -100vw;
      padding: 14px 0 20px 0; }
      .headroom .header .desktop-menu .mobile-menu-top {
        display: grid;
        grid-template-columns: 1fr 61px;
        margin-left: 17px; }
        .headroom .header .desktop-menu .mobile-menu-top .close-nav {
          order: 1;
          position: relative;
          width: 61px;
          height: 57px;
          padding: 10px 20px 10px;
          box-sizing: border-box;
          margin-top: -10px; }
          .headroom .header .desktop-menu .mobile-menu-top .close-nav-img {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 21px;
            height: 21px; }
        .headroom .header .desktop-menu .mobile-menu-top .search-form {
          order: 0;
          display: grid;
          grid-template-columns: 1fr 34px;
          height: 37px;
          width: 100%; }
          .headroom .header .desktop-menu .mobile-menu-top .search-form-text {
            border: 1px solid #E6E6E6;
            border-radius: 3px 0 0 3px;
            box-sizing: border-box;
            background-color: #FAFAFA;
            height: 100%;
            width: 100%;
            font-size: 13.3333px;
            font-weight: 400;
            padding: 3px 5px 1px 10px;
            box-sizing: border-box; }
            .headroom .header .desktop-menu .mobile-menu-top .search-form-text:focus {
              border-color: #E5BF73;
              box-shadow: 0px 0px 0.2px 0.8px #E5BF73; }
          .headroom .header .desktop-menu .mobile-menu-top .search-form-submit {
            border: 1px solid #E6E6E6;
            border-left: none;
            border-radius: 0 3px 3px 0;
            box-sizing: border-box;
            width: 34px;
            height: 100%;
            background-color: #FAFAFA;
            background-image: url("img/search.png");
            background-repeat: no-repeat;
            background-position: center; }
      .headroom .header .desktop-menu .user-header {
        height: 46px;
        order: 3;
        display: flex;
        justify-content: space-around; }
        .headroom .header .desktop-menu .user-header .user-header-btn {
          color: white;
          font-size: 16px;
          display: block;
          width: 34.4%;
          min-width: 140px;
          height: 100%;
          text-align: center;
          padding-top: 16px;
          box-sizing: border-box;
          border-radius: 3px; }
        .headroom .header .desktop-menu .user-header .register-btn {
          background-color: #DA0751; }
        .headroom .header .desktop-menu .user-header .connexion-btn {
          background-color: #F2F2F2;
          color: black; }
      .headroom .header .desktop-menu .nav-list-menu .nav-list {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: 60px;
        padding-top: 17px; }
        .headroom .header .desktop-menu .nav-list-menu .nav-list-btn {
          display: none; }
        .headroom .header .desktop-menu .nav-list-menu .nav-list .nav-list-item {
          padding: 20px 0 20px 17px;
          box-sizing: border-box;
          border-top: 1px solid #EAEAEA;
          background-color: white;
          width: 100%;
          height: 100%; }
          .headroom .header .desktop-menu .nav-list-menu .nav-list .nav-list-item:last-child {
            border-bottom: 1px solid #EAEAEA;
            margin-bottom: 189px; }
          .headroom .header .desktop-menu .nav-list-menu .nav-list .nav-list-item-link {
            font-size: 21px;
            width: 100%;
            height: 100%; }
          .headroom .header .desktop-menu .nav-list-menu .nav-list .nav-list-item .on {
            color: #DA0751; }
          .headroom .header .desktop-menu .nav-list-menu .nav-list .nav-list-item .off {
            color: #5F5F5F; }
          .headroom .header .desktop-menu .nav-list-menu .nav-list .nav-list-item .special {
            color: #00A1C5; }
      .headroom .header .desktop-menu .share-btn {
        position: fixed;
        bottom: 100px;
        left: 0;
        right: 0;
        margin: auto;
        left: -200vw;
        transition: 0.2s ease-out;
        width: 260px;
        height: 35px;
        background-color: #DA0751;
        background-image: url("img/share.png");
        background-size: 100% 100%;
        z-index: 150; }
      .headroom .header .desktop-menu .share-list {
        border-top: 1px solid #EAEAEA;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 156px;
        background: white;
        transition: 0.2s ease-out;
        display: flex;
        justify-content: space-around;
        z-index: 100;
        padding: 80px 50px 0 50px;
        box-sizing: border-box; }
        .headroom .header .desktop-menu .share-list .share-item {
          width: 46px;
          height: 46px; }
          .headroom .header .desktop-menu .share-list .share-item .share-link {
            display: block;
            width: 100%;
            height: 100%;
            background-size: 100% 100%; }
            .headroom .header .desktop-menu .share-list .share-item .share-link-facebook {
              background-image: url("img/share-facebook.png"); }
            .headroom .header .desktop-menu .share-list .share-item .share-link-tweeter {
              background-image: url("img/share-tweeter.png"); }
            .headroom .header .desktop-menu .share-list .share-item .share-link-rss {
              background-image: url("img/share-rss.png"); }

@media (min-width: 1024px) {
  .headroom .header {
    width: 1024px;
    margin: auto;
    position: relative; }
    .headroom .header .mobile-menu {
      z-index: 5;
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .headroom .header .mobile-menu .logo {
        margin: 0;
        margin-left: -14px; }
    .headroom .header .desktop-menu {
      z-index: 3;
      top: -58px;
      width: 749px;
      height: 29px;
      margin-left: 275px;
      overflow: visible;
      left: 0;
      right: 0;
      background: none;
      position: relative; }
      .headroom .header .desktop-menu .mobile-menu-top .search-form {
        margin-left: 3px;
        width: 252px; }
      .headroom .header .desktop-menu .user-header {
        margin-top: -45px;
        margin-left: 454px;
        height: 35px;
        width: 230px;
        justify-content: space-between; }
        .headroom .header .desktop-menu .user-header .user-header-btn {
          font-size: 12px;
          min-width: 0;
          width: 109px;
          padding: 12px 0 0 0; }
      .headroom .header .desktop-menu .nav-list-menu {
        transition: 0.3s ease-out;
        display: none;
        overflow: hidden;
        height: 0;
        margin-left: -275px;
        width: 438px; }
        .headroom .header .desktop-menu .nav-list-menu .nav-list {
          padding-top: 7px; }
      .headroom .header .desktop-menu .share-btn {
        position: absolute;
        top: 103px;
        left: 677px;
        height: 35px;
        width: 35px;
        background: blue;
        border-radius: 2px;
        background-image: url("img/share_reduced.png"); }
      .headroom .header .desktop-menu .share-list {
        justify-content: space-between;
        position: fixed;
        border: none;
        top: 19px;
        height: 35px;
        margin-left: 298px;
        width: 125px;
        padding: 0;
        background: none; }
        .headroom .header .desktop-menu .share-list .share-item {
          width: 34px;
          height: 34px; } }
@media (min-width: 1251px) {
  .headroom .header {
    width: 1251px; }
    .headroom .header .mobile-menu .open-nav {
      display: none; }
    .headroom .header .desktop-menu {
      width: 1251px; }
      .headroom .header .desktop-menu .mobile-menu-top .search-form {
        width: 502px; }
      .headroom .header .desktop-menu .user-header {
        margin-left: 980px; }
      .headroom .header .desktop-menu .share-btn {
        left: 1175px; }
      .headroom .header .desktop-menu .share-list {
        margin-left: 800px; } }

/*# sourceMappingURL=style.css.map */
