@media (min-width: 1024px) {
    .headroom {
        &--pinned {
        }
        .header {
            width: 1024px;
            margin: auto;
            position: relative;
            .mobile-menu {
                z-index: 5;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                .open-nav {
                    &-img {
                    }
                }
                .logo {
                    margin: 0;
                    margin-left: -14px;
                    &-img {}
                }
            }
            .desktop-menu {
                z-index: 3;
                top: -58px;
                width: 749px;
                height: 29px;
                margin-left: 275px;
                overflow: visible;
                left: 0;
                right: 0;
                background: none;
                position: relative;
                .mobile-menu-top {
                    .close-nav {
                        &-img {
                        }
                    }
                    .search-form {
                        margin-left: 3px;
                        width: 252px;
                        &-text {
                            &:focus {
                            }
                        }
                        &-submit {
                        }
                    }
                }
                .user-header {
                    margin-top: -45px;
                    margin-left: 454px;
                    height: 35px;
                    width: 230px;
                    justify-content: space-between;
                    .user-header-btn {
                        font-size: 12px;
                        min-width: 0;
                        width: 109px;
                        padding: 12px 0 0 0;
                    }
                    .register-btn {
                    }
                    .connexion-btn {
                    }
                }
                .nav-list-menu {
                    transition: 0.3s ease-out;
                    display: none;
                    overflow: hidden;
                    height: 0;
                    margin-left: -275px;
                    width: 438px;
                    .nav-list {
                        padding-top: 7px;
                        &-btn {
                        }
                        .nav-list-item {
                            &:last-child {
                            }
                            &-link {
                            }
                            .on {
                            }
                            .off {
                            }
                            .special {
                            }
                        }
                    }
                }
                .share-btn {
                    position: absolute;
                    top: 103px;
                    left: 677px;
                    height: 35px;
                    width: 35px;
                    background: blue;
                    border-radius: 2px;
                    background-image: url("img/share_reduced.png");
                }
                .share-list {
                    justify-content: space-between;
                    position: fixed;
                    border: none;
                    top: 19px;
                    height: 35px;
                    margin-left: 298px;
                    width: 125px;
                    padding: 0;
                    background: none;
                    .share-item {
                        width: 34px;
                        height: 34px;
                        .share-link {
                            &-facebook {
                            }
                            &-tweeter {
                            }
                            &-rss {
                            }
                        }
                    }
                }

            }
        }
    }
}
