.headroom {
    font-family: $main-font;
    color: $main-font-color;
    font-size: 16px;
    background: white;
    width: 100%;
    height: 61px;
    position: relative;
    border-top: 5px solid #0ba7c8;
    box-shadow: 0px 2px 2px #CCC;
    &--pinned {
        position: fixed;
    }
    .header {
        height: 100%;
        width: 100%;
        padding: 10px 10px 0;
        box-sizing: border-box;
        .mobile-menu {
            display: flex;
            margin: -10px 0 0 -10px;
            width: 100%;
            height: 56px;
            .open-nav {
                position: relative;
                width: 62px;
                height: 56px;
                padding: 10px 20px 10px;
                box-sizing: border-box;
                &-img {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: 22px;
                    height: 15px;
                }
            }
            .logo {
                margin: auto;
                height: 56px;
                &-img {}
            }
        }
        .desktop-menu {
            overflow-y: auto;
            background-color: white;
            transition: 0.3s ease-out;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: -100vw;
            padding: 14px 0 20px 0;
            .mobile-menu-top {
                display: grid;
                grid-template-columns: 1fr 61px;
                margin-left: 17px;
                .close-nav {
                    order: 1;
                    position: relative;
                    width: 61px;
                    height: 57px;
                    padding: 10px 20px 10px;
                    box-sizing: border-box;
                    margin-top: -10px;
                    &-img {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        width: 21px;
                        height: 21px;
                    }
                }
                .search-form {
                    order: 0;
                    display: grid;
                    grid-template-columns: 1fr 34px;
                    height: 37px;
                    width: 100%;
                    &-text {
                        border: 1px solid #E6E6E6;
                        border-radius: 3px 0 0 3px;
                        box-sizing: border-box;
                        background-color: #FAFAFA;
                        height: 100%;
                        width: 100%;
                        font-size: 13.3333px;
                        font-weight: 400;
                        padding: 3px 5px 1px 10px;
                        box-sizing: border-box;
                        &:focus {
                            border-color: #E5BF73;
                            box-shadow: 0px 0px 0.2px 0.8px #E5BF73;
                        }
                    }
                    &-submit {
                        border: 1px solid #E6E6E6;
                        border-left: none;
                        border-radius: 0 3px 3px 0;
                        box-sizing: border-box;
                        width: 34px;
                        height: 100%;
                        background-color: #FAFAFA;
                        background-image: url("img/search.png");
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
            .user-header {
                height: 46px;
                order: 3;
                display: flex;
                justify-content: space-around;
                .user-header-btn {
                    color: white;
                    font-size: 16px;
                    display: block;
                    width: 34.4%;
                    min-width: 140px;
                    height: 100%;
                    text-align: center;
                    padding-top: 16px;
                    box-sizing: border-box;
                    border-radius: 3px;
                }
                .register-btn {
                    background-color: #DA0751;
                }
                .connexion-btn {
                    background-color: #F2F2F2;
                    color: black;
                }
            }
            .nav-list-menu {
                .nav-list {
                    display: grid;
                    grid-template-rows: repeat(9, 60px);
                    margin-bottom: 110px;
                    padding-top: 17px;
                    &-btn {
                        display: none;
                    }
                    .nav-list-item {
                        padding: 20px 0 20px 17px;
                        box-sizing: border-box;
                        border-top: 1px solid #EAEAEA;
                        background-color: white;
                        width: 100%;
                        height: 100%;
                        &:last-child {
                            border-bottom: 1px solid #EAEAEA;
                        }
                        &-link {
                            font-size: 21px;
                            width: 100%;
                            height: 100%;
                        }
                        .on {
                            color: $main-color;
                        }
                        .off {
                            color: #5F5F5F;
                        }
                        .special {
                            color: #00A1C5;
                        }
                    }
                }
            }
            .share-btn {
                position: fixed;
                bottom: 100px;
                left: 0;
                right: 0;
                margin: auto;
                left: -200vw;
                transition: 0.3s ease-out;
                width: 300px;
                height: 35px;
                background-color: $main-color;
                background-image: url("img/share.png");
                background-size: 100% 100%;
                z-index: 150;
            }
            .share-list {
                border-top: 1px solid #EAEAEA;
                position: fixed;
                bottom: 0;
                width: 100%;
                height: 156px;
                background: white;
                transition: 0.3s ease-out;
                display: flex;
                justify-content: space-around;
                z-index: 100;
                padding: 80px 50px 0 50px;
                box-sizing: border-box;
                .share-item {
                    width: 46px;
                    height: 46px;
                    .share-link {
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-size: 100% 100%;
                        &-facebook {
                            background-image: url("img/share-facebook.png");
                        }
                        &-tweeter {
                            background-image: url("img/share-tweeter.png");
                        }
                        &-rss {
                            background-image: url("img/share-rss.png");
                        }
                    }
                }
            }

        }
    }
}
