.headroom {
    background: white;
    position: relative;
    &--pinned {
        position: fixed;
    }
    .header {
        height: 61px;
        padding: 10px 10px 0;
        box-sizing: border-box;
        border-top: 5px solid #0ba7c8;
        box-shadow: 0px 2px 2px #CCC;
        .header-wrapper {
            display: flex;
            margin: -10px 0 0 -10px;
            width: 320px;
            height: 56px;
            .mobile-nav-wrapper {
                position: relative;
                width: 62px;
                height: 56px;
                padding: 10px 20px 10px;
                box-sizing: border-box;
                .mobile-nav {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: 22px;
                    height: 15px;
                }
            }
            .logo {
                height: 56px;
                &-img {}
            }
        }
        div {
            span {}
            a {
                img {}
            }
            div {
                p {}
                ul {
                    li {}
                    li {}
                    li {}
                    li {}
                    li {}
                    li {}
                }
            }
            a {}
            form {
                input {}
                button {}
            }
            div {}
        }
    }
}
