@media (min-width: 1251px) {
    .headroom {
        &--pinned {
        }
        .header {
            width: 1251px;
            .mobile-menu {
                .open-nav {
                    display: none;
                    &-img {
                    }
                }
                .logo {
                    &-img {}
                }
            }
            .desktop-menu {
                width: 1251px;
                .mobile-menu-top {
                    .close-nav {
                        &-img {
                        }
                    }
                    .search-form {
                        width: 502px;
                        &-text {
                            &:focus {
                            }
                        }
                        &-submit {
                        }
                    }
                }
                .user-header {
                    margin-left: 980px;
                    .user-header-btn {
                    }
                    .register-btn {
                    }
                    .connexion-btn {
                    }
                }
                .nav-list-menu {
                    .nav-list {
                        &-btn {
                        }
                        .nav-list-item {
                            &:last-child {
                            }
                            &-link {
                            }
                            .on {
                            }
                            .off {
                            }
                            .special {
                            }
                        }
                    }
                }
                .share-btn {
                    left: 1175px;
                }
                .share-list {
                    margin-left: 800px;
                    .share-item {
                        .share-link {
                            &-facebook {
                            }
                            &-tweeter {
                            }
                            &-rss {
                            }
                        }
                    }
                }

            }
        }
    }
}
